html {
  position: relative;
  font-size: 16px;
  padding: 0 5%;
  /* https://css-tricks.com/apply-a-filter-to-a-background-image/  */
  
}
html:before {
  position: absolute;
  content: "";
  top: 0; left: 0;
  width: 100%; height: 100%;

  background-color: #BAD9B5;
  background-image: url("back.webp");
  /* The image used */
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  filter: blur(5px);  
  -webkit-filter: blur(5px);

}


body {
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;
}

/*"eff7cf","bad9b5","aba361","732c2c","420c14"*/
a {
  color: #732C2C;
  text-decoration: none;
}

a:hover {
  color: #ABA361;
}

label {
  vertical-align: super;
  font-size: .83em;
}

header,
footer,
main.page {
  width: 0.8 vw;
  min-width: 0.5 vw;
  margin: 0 auto;
  padding: 1rem;
  background: #EFF7CF;
  border-radius: 0 0 2rem 2rem;
}

body>header {
  color: #ABA361;
  background: #420C14;
  border-radius: 2rem 2rem 0 0;
}

article.blog-post {
  border-bottom: 3px solid #732C2C;
}

article.blog-post header {
  padding-bottom: 0rem;
}

header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 1.4em;
}

header h1 a {
  color: #ABA361;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
}

div.page {
  background: #f1fbfe;
}

hr {
  border: none;
  border-top: 5px dotted #ABA361;
}

.alert {
  color: #e90e0e
}

.highlight {
  color: #008000;
}

.sidenote {
  position: relative;
  float: inline-end;
  bottom: 0;
}

form dl {
  display: inline-block;
  vertical-align: sub;
}

fieldset dl,
fieldset dt,
fieldset p {
  margin: 0;
  padding: 0
}

.blog-post header {
  width: auto;
}

.blog-post header h2,
.blog-post header h3 {
  display: inline-block;
  margin: 0;
  padding: 0
}

.blog-post header h3 {
  float: right;
  font-size: .8em;
  font-weight: normal;
}

/* ######################### my fresh new content ########################*/



ruby {
  ruby-position: over;
  ruby-align: center;
}

rb {
}

rt {
  font-size: .75rem;
}
dt  {
  font-size:1em;
}

/*
  rtc {
    ruby-position: under;
    ruby-align: center;
  } */

dl {
  background-color: #ddd;
  padding: .2em;
  border-radius: 0.8rem;
}


.adj {
  background-color: #4CAF50
}

.adj_na {
  background-color: #CDDC39;
}

.adj_i {
  background-color: #8BC34A;
}

.noun {
  background-color: #80cbc4;
}

.vrb {
  background-color: #FF5722;
}

.v1 {
  background-color: #FF9800;
}

.v2 {
  background-color: #FFC107;
}

.adv {
  background-color: #92a4ae;
}

.not {
  background-color: #ddd;
}

.sa {
  background-image: linear-gradient(to right, #80cbc4, #4CAF50);
}

.group {
  display: inline;
  padding: .5rem;
  border: 3px dotted #000;
}

dl {
  display: inline-flex;
  flex-direction: column;
  flex-flow: column;
  width: auto;
  margin: 0;
  padding: 0;
}



dt,
dd,
dl span {
  width: auto;
  flex-basis: 20%;
  margin: 0;
  padding: 0;
}

dt {
  background-color: #fff;
  padding: 0.2rem;
  border-radius: 0.8rem;
  margin: 0.2rem;

  text-align: center;
}

dd {
  font-size: .8rem;
  font-style: italic;
  padding: 0 0.3rem 0.3rem 0.3rem;
}

article.rule {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0.5em 1em;
  background-color: #fff;
  border-radius: 0.8rem;
}

small {
  font-size: .8rem;
}

article.rule+p {
  font-style: italic;
  font-size: 0.8rem;
}

section {
  display: inline;
  /* background-color:lime */
}

aside {
  display: inline;
  /* background-color: rgba(255, 160, 97, 0.918) */
  font-family: 'Noto Serif JP', serif;
  font-style: italic;
  font-size: smaller;
  font-weight: bold;
}

/********* TAVOLA DEI VERBI #inizio **********/
table.verbi-G1 {
  /*   border: none;
  border-collapse: separate; 
  width: 100%;*/
  font-size: 2rem;
  border-collapse: separate;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
     padding:.5rem;
}

.verbi-G1 caption {
  text-align: left;
  font-size: 1rem;
  font-style: italic;
}


.verbi-G1 tbody tr {
  margin: .2rem;
  padding: .2rem;
  opacity: .75;
  transition: .25s ease-in-out;
}

.verbi-G1 tbody tr:hover,
.verbi-G1.te tr {
  opacity: 1;
}

tr.polite {
  border: 8px solid #ff0000;
}

.verbi-G1 td {
  padding: .2em;
  border-radius: 1rem;
  font-size: 2rem;
}

.verbi-G1 th {
  color: #fff;
  background-color: #000;
  padding: .2em;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.verbi-G1 th,
.verbi-G1 td {
  width: 4rem;
  margin-bottom: 1rem;
  border-spacing: 0.8rem;
  text-align: center;
}

td.nota {
  border: none;
  font-size: 0.8rem;
  word-wrap: wrap;
  text-align: left;
}

/* https://colordesigner.io/gradient-generator  9 step*/
tr.rainbow td:nth-child(2), td.te.g1a {
  background-color: #5cbd54;
}

tr.rainbow td:nth-child(3) {
  background-color: #7eba46;
}

tr.rainbow td:nth-child(4),  td.te.g1c {
  background-color: #99b63d;
}

tr.rainbow td:nth-child(5) {
  background-color: #b0b13a;
}

tr.rainbow td:nth-child(6),  td.te.g1d {
  background-color: #c4ab3c;
}

tr.rainbow td:nth-child(7) {
  background-color: #d6a644;
}

tr.rainbow td:nth-child(8),  td.te.g1e {
  background-color: #e5a050;
}

tr.rainbow td:nth-child(9) {
  background-color: #f19b5e;
}

tr.rainbow td:nth-child(10),  td.te.g1b {
  background-color: #fa976e;
}

tr.rainbow td:nth-child(13) {
  background-color: #fff;
  border: 1px solid #ccc;
}
.verbi-G1 tr.rainbow:hover td:nth-child(13) {
  background-color: #7cc3a1;
  transition: .25s ease-in-out;
}

.te td {
  background-color: transparent;
  border: none;
}

td.te {
  background-color: white;
  border: none;
}
.lite {
  font-size:.8rem;
  color:#444;
}
/* TAVOLA DEI VERBI # fine */

ul.legenda {
  list-style: none
}

.legenda li {
  display: inline-block;
  font-size: smaller;
  padding: 0.2rem 0.5rem;
}

footer {
  margin-top: 1rem;
  background-color: #fff;
  padding-bottom: 1rem;
  border-radius: 1.5rem;
}

table.legenda {
  width: 100%;
  table-layout: fixed;
}

.legenda td {
  text-align: center;
  width: calc(100%/6)
}

/* 
  RUBY https://www.useragentman.com/blog/2010/10/29/cross-browser-html5-ruby-annotations-using-css/ */

@media (max-width: 640px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}